.wd-assignments-total {
    border: 1px solid rgb(86, 85, 85);
    border-radius: 10px;
}

.wd-assignment-title{
    font-weight: 600;
    font-size: 1.5em;
}

.wd-assignment-border{
border-left: 2px solid green;
}